<p><%= form_for @trip do |f| %></p>
<% f.text_field :traveler_id, value: session[:user_id]%>
<p><%= f.hidden_field :traveler_id, value: session[:user_id]%> </p>

<p><%= f.hidden_field :destination_id, value: flash[:dest_id]%> </p>

<p><%= f.label "What would you like to name your trip?" %></p>
<p><%= f.text_field :name, placeholder: "Vacation? Business?" %>  </p>
<p><%= f.submit %></p>


<% end%>