

<div class= "login-marquee-wrapper-greg">
  <div class="login-marquee-contents-greg">
      <%=image_tag "image.png", width:400, height:400, alt:"Natural" %>
      <%=image_tag "image.png", width:400, height:400, alt:"Natural" %>
    FORGOT PASSWORD?
      <%=image_tag "image.png", width:400, height:400, alt:"Natural" %>
      <%=image_tag "image.png", width:400, height:400, alt:"Natural" %>
      CREATE A NEW ACCOUNT!
      <%=image_tag "image.png", width:400, height:400, alt:"Natural" %>
      <%=image_tag "image.png", width:400, height:400, alt:"Natural" %>
     FORGOT PASSWORD?
      <%=image_tag "image.png", width:400, height:400, alt:"Natural" %>
      <%=image_tag "image.png", width:400, height:400, alt:"Natural" %>
      CREATE A NEW ACCOUNT!
      <%=image_tag "image.png", width:400, height:400, alt:"Natural" %>
      <%=image_tag "image.png", width:400, height:400, alt:"Natural" %>
  </div>
   
</div>
