<% randomize = rand(9)%>
<% if randomize == 0 %>

<body class="home">

    <!--Everytime the page loads the background image changes-->
<p><h1 class= "rainbow-text"> Welcome to SafeTravels </h1></p>
<br>

<div class ="user-buttons">
<button class="primary-button"> <%=link_to "New User?", new_traveler_path%></button>
<button class="secondary-button"><%=link_to "Sign In", new_login_path%></button>
</div>


</body>
<% elsif randomize == 1 %>
<body class="home1">

    <!--Everytime the page loads the background image changes-->
<p><h1 class= "rainbow-text"> Welcome to SafeTravels </h1></p>
<br>

<div class ="user-buttons">
<button class="primary-button"> <%=link_to "New User?", new_traveler_path%></button>
<button class="secondary-button"><%=link_to "Sign In", new_login_path%></button>
</div>


</body>

<% elsif randomize == 2 %>
<body class="home2">

    <!--Everytime the page loads the background image changes-->
<p><h1 class= "rainbow-text"> Welcome to SafeTravels </h1></p>
<br>

<div class ="user-buttons">
<button class="primary-button"> <%=link_to "New User?", new_traveler_path%></button>
<button class="secondary-button"><%=link_to "Sign In", new_login_path%></button>
</div>


</body>
<% elsif randomize == 3 %>
<body class="home3">

    <!--Everytime the page loads the background image changes-->
<p><h1 class= "rainbow-text"> Welcome to SafeTravels </h1></p>
<br>

<div class ="user-buttons">
<button class="primary-button"> <%=link_to "New User?", new_traveler_path%></button>
<button class="secondary-button"><%=link_to "Sign In", new_login_path%></button>
</div>


</body>
<% elsif randomize == 4 %>
<body class="home4">

    <!--Everytime the page loads the background image changes-->
<p><h1 class= "rainbow-text"> Welcome to SafeTravels </h1></p>
<br>

<div class ="user-buttons">
<button class="primary-button"> <%=link_to "New User?", new_traveler_path%></button>
<button class="secondary-button"><%=link_to "Sign In", new_login_path%></button>
</div>


</body>
<% elsif randomize == 5 %>
<body class="home5">

    <!--Everytime the page loads the background image changes-->
<p><h1 class= "rainbow-text"> Welcome to SafeTravels </h1></p>
<br>

<div class ="user-buttons">
<button class="primary-button"> <%=link_to "New User?", new_traveler_path%></button>
<button class="secondary-button"><%=link_to "Sign In", new_login_path%></button>
</div>


</body>
<% elsif randomize == 6 %>
<body class="home6">

    <!--Everytime the page loads the background image changes-->
<p><h1 class= "rainbow-text"> Welcome to SafeTravels </h1></p>
<br>

<div class ="user-buttons">
<button class="primary-button"> <%=link_to "New User?", new_traveler_path%></button>
<button class="secondary-button"><%=link_to "Sign In", new_login_path%></button>
</div>


</body>
<% elsif randomize == 7 %>
<body class="home7">

    <!--Everytime the page loads the background image changes-->
<p><h1 class= "rainbow-text"> Welcome to SafeTravels </h1></p>
<br>

<div class ="user-buttons">
<button class="primary-button"> <%=link_to "New User?", new_traveler_path%></button>
<button class="secondary-button"><%=link_to "Sign In", new_login_path%></button>
</div>


</body>

<% elsif randomize == 8 %>
<body class="home8">

    <!--Everytime the page loads the background image changes-->
<p><h1 class= "rainbow-text"> Welcome to SafeTravels </h1></p>
<br>

<div class ="user-buttons">
<button class="primary-button"> <%=link_to "New User?", new_traveler_path%></button>
<button class="secondary-button"><%=link_to "Sign In", new_login_path%></button>
</div>


</body>

<% end%>