<div class="my-info">
<h1><%= @traveler.username %></h1>
<% year = @traveler.dob.slice(0,4).to_i%>
<% month = @traveler.dob.slice(5,7).to_i%>
<% day = @traveler.dob.slice(8,10).to_i%>
<% age = Time.new(year, month, day).strftime("%B %d, %Y")%>
<strong>Date Of Birth:</strong> <%= age %><br>
<strong>About Me:</strong><br>
<%= @traveler.about_me %>

</div>
<div class="my-photo"><%= image_tag @traveler.img_url, width: 250, height: 250 %></div>

<!-- Edit this to direct to a landing page -->
<% if @traveler.id == session[:user_id] %>
<br><button class="edit"><%= link_to "Edit Account?", edit_traveler_path(@traveler.id), { :method => :get } %></button><br>

<br><button class="delete"> <%= link_to "Delete Account?", traveler_path(@traveler), :confirm => "Are you sure you want to delete your account!?", :method => :delete %> </button> <br>

<div class="my-trips">
<h1>My Trips</h1>
<% if @traveler.trips.count > 0%>
    <% @traveler.trips.each do |trip| %>
    <% if trip.name == ""%>
    <% trip.name = trip.destination.city_name %>
        <% end%>
        <p><%= link_to trip.name, trip_path(trip) %></p>
         <%= image_tag trip.destination.img_url, width: 100 %>
    <% end%>
   <% else %>
   You have no destinations <%= link_to "Find destination", destinations_path %>
<% end%>
</div>
<% end%>
