
<h1><%= @traveler.username %></h1>
<% age = Time.new(@traveler.dob)%>
<strong>Date Of Birth:</strong> <%= age.strftime("%B %d, %Y") %><br>
<strong>About Me:</strong><br>
<%= @traveler.about_me %>


<h2>My Trips</h2>
<% if @traveler.trips.count > 0%>
    <% @traveler.trips.each do |trip| %>
        <p><%= link_to trip.name, trip_path(trip) %></p>
    <% end%>
   <% else %>
   You have no destinations <%= link_to "Find destination", destinations_path %>
<% end%>
