<h1><%= @destination.city_name %></h1>

Safety Rating: <br>
LGBTQ+: <%= @destination.lgbtq   %><br>
Medical: <%=  @destination.medical %><br>
Overall: <%= @destination.overall %><br>
Physical Harm: <%= @destination.physical_harm %><br>
Political Freedom: <%= @destination.political_freedom %><br>
Theft: <%= @destination.theft %><br>
Women: <%= @destination.women %><br>

<strong>Note:</strong> Our safety rating is set to a scale where the lower the number, the more "safe"
 <form method="get" action="/trips/new" class="button_to">
      <div><input value="Save Location" type="submit" /></div>
   </form>
<% if @destination.city_name == "San Francisco"%>
<div class= "login-marquee-wrapper">
  <div class="login-marquee-contents">
      <%=image_tag "SF_50.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "SF_51.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "SF_53.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "SF-1.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "SF-11.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "SF-30.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "SF-31.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "SF-32.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "SF_50.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "SF_51.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "SF_53.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "SF-1.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "SF-11.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "SF-30.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "SF-31.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "SF-32.jpg", width:400, height:400, alt:"Natural" %>
  </div>
</div>
<% elsif @destination.city_name == "Barcelona"%>
<div class= "login-marquee-wrapper">
  <div class="login-marquee-contents">
      <%=image_tag "barcelona-50.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "barcelona-51.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "barcelona-52.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "barcelona-30.png", width:400, height:400, alt:"Natural" %>
      <%=image_tag "barcelona-31.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "barcelona-33.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "barcelona-50.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "barcelona-51.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "barcelona-52.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "barcelona-30.png", width:400, height:400, alt:"Natural" %>
      <%=image_tag "barcelona-31.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "barcelona-33.jpg", width:400, height:400, alt:"Natural" %>
</div>
<% elsif @destination.city_name == "Paris"%>
<div class= "login-marquee-wrapper">
  <div class="login-marquee-contents">
      <%=image_tag "paris-50.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "paris-51.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "paris-52.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "paris_30.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "paris-31.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "paris-32.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "paris-50.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "paris-51.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "paris-52.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "paris_30.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "paris-31.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "paris-32.jpg", width:400, height:400, alt:"Natural" %>
  </div>
</div>
<% elsif @destination.city_name == "London"%>
<div class= "login-marquee-wrapper">
  <div class="login-marquee-contents">
      <%=image_tag "london-50.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "london-51.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "london-52.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "london-53.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "london-30.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "london-31.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "london-32.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "london-50.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "london-51.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "london-52.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "london-53.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "london-30.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "london-31.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "london-32.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "london-50.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "london-51.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "london-52.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "london-53.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "london-30.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "london-31.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "london-32.jpg", width:400, height:400, alt:"Natural" %>
  </div>
</div>
<% elsif @destination.city_name == "Detroit"%>
<div class= "login-marquee-wrapper">
  <div class="login-marquee-contents">
      <%=image_tag "detroit-50.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "detroit-51.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "detroit-53.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "detroit-30.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "detroit-31.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "detroit-32.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "detroit-50.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "detroit-51.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "detroit-53.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "detroit-30.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "detroit-31.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "detroit-32.jpg", width:400, height:400, alt:"Natural" %>
  </div>
</div>
<% elsif @destination.city_name == "Bangalore"%>
<div class= "login-marquee-wrapper">
  <div class="login-marquee-contents">
      <%=image_tag "bangalore-50.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "bangalore-52.jpeg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "bangalore-53.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "bangalore-30.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "bangalore-31.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "bangalore-32.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "bangalore-50.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "bangalore-52.jpeg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "bangalore-53.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "bangalore-30.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "bangalore-31.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "bangalore-32.jpg", width:400, height:400, alt:"Natural" %>
</div>
<% elsif @destination.city_name == "New York"%>
<div class= "login-marquee-wrapper">
  <div class="login-marquee-contents">
      <%=image_tag "new-york-50.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "new-york-51.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "new-york-52.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "nyc-york-30.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "new-york-31.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "new-york-32.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "new-york-50.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "new-york-51.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "new-york-52.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "nyc-york-30.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "new-york-31.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "new-york-32.jpg", width:400, height:400, alt:"Natural" %>
  </div>
</div>
<% elsif @destination.city_name == "Dallas"%>
<div class= "login-marquee-wrapper">
  <div class="login-marquee-contents">
      <%=image_tag "dallas-50.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "dallas-51.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "dallas-52.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "dallas-30.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "dallas-31.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "dallas-32.jpg", width:400, height:400, alt:"Natural" %>
       <%=image_tag "dallas-50.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "dallas-51.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "dallas-52.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "dallas-30.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "dallas-31.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "dallas-32.jpg", width:400, height:400, alt:"Natural" %>
  </div>
</div>
<% elsif @destination.city_name == "Berlin"%>
<div class= "login-marquee-wrapper">
  <div class="login-marquee-contents">
      <%=image_tag "berlin-50.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "berlin-51.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "berlin-52.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "berlin-30.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "berlin-31.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "berlin-32.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "berlin-50.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "berlin-51.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "berlin-52.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "berlin-30.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "berlin-31.jpg", width:400, height:400, alt:"Natural" %>
      <%=image_tag "berlin-32.jpg", width:400, height:400, alt:"Natural" %>
  </div>
</div>
<% end %>