<!DOCTYPE html>
<html>
  <head>
    <title>SafeTravels</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  
  
  <body>
  <div class='nav'>
      </div>
      <ul>
        <% if @current_user %>
          <li class='right'>Welcome <%= @current_user.username %>!</li>
          <li class='right'><%= link_to "Log-Out", logout_path, method: :delete%></li>
        <% end %>
      </ul>
    <%= yield %>
      <div class= "body">
      </div>
      <div class= "form">
      </div>
  </body>
</html>
