<!DOCTYPE html>
<html>
  <head>
    <title>SafeTravels</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  </head>

  
  
  <body>
      <div class='nav'>
        <button class="nav_bar"><%= link_to 'Destination Home', destinations_path %></button>
        <% if @current_user %>
          <li class='right'>Welcome <%=link_to @current_user.username, traveler_path(@current_user) %>!</li>
          <li class='right'><%= link_to "Log-Out", logout_path, method: :delete%></li>
        <% end %>
      
      </div>
    <%= yield %>
    
      <div class= "body">
      </div>
      <div class= "form">
      </div>
  </body>
</html>
